@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

::-webkit-scrollbar {
    display: none;
}

::-webkit-scrollbar-track {
    display: none;
}

::-webkit-scrollbar-thumb {
    display: none;
}

/**styling**/
body{
    background-color: #f5f6fb;
}

.back_img{
    width: 17px;
    margin-top: auto;
    margin-bottom: auto;
}

.action_grid{
    cursor: pointer;
    margin-left: 10px;
    display: grid;
    grid-template-columns: max-content max-content;
}

.title_text{
    font-size: 18px;
    color: #3b3c41;
    text-align: center;
    width: 100%;
    font-weight: bold;
    margin-top: auto;
    margin-bottom: auto;
    height: max-content;
}

.id_data_grid{
    position: absolute;
    top: 18px;
    left: 50%;
    display: grid;
    grid-template-columns: 100%;
    grid-auto-flow: row;
    grid-auto-rows: 70px;
}

.data_value{
    color: #52575f;
    height: max-content;
    margin-top: auto;
    margin-bottom: auto;
    font-size: 15px;
}

.data_holder{
    width: 100%;
    height: max-content;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: max-content max-content;
}

.flag_video{
    position: absolute;
    top: 49.45%;
    left: 7.5%;
}

.data_title{
    font-weight: 600;
    font-size: 18px;
    height: max-content;
    margin-top: auto;
    margin-bottom: auto;
}

p{
    font-family: "Poppins", sans-serif;
}

*{
    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10 and IE 11 */
    user-select: none; /* Standard syntax */
}

.id_image_data{
    position: relative;
}

.id_image{
    z-index: -1;
    width: 95%;
    margin-left: auto;
    margin-right: auto;
    display: block;
    z-index: -1;
    pointer-events: none;
    box-shadow: 0px 0px 5px rgb(224, 224, 224);
    border-radius: 15px 15px 0px 0px;
}

.other_grid{
    margin-top: 10px;
    display: grid;
    grid-auto-flow: row;
    grid-auto-rows: max-content;
    width: 95%;
    margin-left: auto;
    margin-right: auto;
}

.bottom_holder{
    position: relative;
    width: 100%;
    height: 80px;
    background-color: white;
    box-shadow: 0px 0px 5px rgb(224, 224, 224);
    border-radius: 15px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.bottom_element_image{
    pointer-events: none;
    width: 28px;
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
    margin-bottom: auto;
}

.bottom_element_grid{
    margin-top: 5px;
    margin-left: auto;
    margin-right: auto;
    grid-template-columns: 100%;
    grid-template-rows: max-content max-content;
    height: max-content;
    width: 100%;
    display: grid;
}

.bottom_element_text{
    margin-top: 0;
    font-size: 11px;
    color: #57585d;
    font-weight: 400;
    text-align: center;
}

.bottom_text{
    font-size: 18px;
    font-weight: bold;
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 17px;
}

.bottom_grid{
    position: relative;
    display: grid;
    grid-template-columns: max-content max-content max-content;
    height: 100%;
    width: max-content;
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 20px;
    margin-right: auto;
}

.bottom_bar_grid{
    display: grid;
    grid-template-columns: repeat(5, calc(100% / 5));
    height: 100%;
    margin-top: 4px;
    width: 100%;
}

.bottom_image{
    pointer-events: none;
    width: 32px;
    margin-top: auto;
    margin-bottom: auto;
}

.bottom_bar{
    position: fixed;
    background-color: #f5f6fb;
    border-top: 0.1px solid rgb(189, 189, 189);
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100px;
    z-index: 10000;
}

.inset{
    box-shadow: inset 0px 0px 20px white;
    background-color: transparent;
    position: absolute;
    top: 5%;
    left: 7.5%;
    width: 35%;
    border-radius: 15px;
    height: 42%;
    z-index: 1000;
    background-position: center;
    background-size: 100%;
    background-repeat: no-repeat;
}

.id_own_image{
    pointer-events: none;
    filter: grayscale(1);
    box-shadow: 0px 0px 5px white;
    position: absolute;
    top: 5%;
    left: 7.5%;
    width: 35%;
    border-radius: 15px;
    height: 42%;
    background-color: white;
    background-position: center;
    background-size: 100%;
    background-repeat: no-repeat;
}

.bottom_update{
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 100%;
    height: 100%;
}

.bottom_update_button{
    color: #014a93;
    background-color: #dbeaf9;
    width: 130px;
    font-size: 14px;
    font-weight: bold;
    height: 32px;
    margin-top: auto;
    margin-bottom: auto;
    margin-left: auto;
    margin-right: 20px;
    border-radius: 20px;
    border: none;
}

.bottom_update_grid{
    margin-left: 20px;
    margin-top: auto;
    margin-bottom: auto;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: max-content max-content;
    height: max-content;
}

.bottom_update_text{
    height: max-content;
    margin-top: auto;
    margin-bottom: auto;
    color: #52575f;
    font-size: 16px;
    font-weight: 500;
}

.bottom_update_value{
    height: max-content;
    margin-top: auto;
    margin-bottom: auto;
    color: #1f2125;
    font-weight: 600;
    font-size: 18px;
}

.action_arrow{
    position: absolute;
    top: 0;
    bottom: 0;
    right: 20px;
    width: 20px;
    order: 100;
    margin-top: auto;
    margin-bottom: auto;
}

.id_bottom{
    box-shadow: 0px 0px 5px rgb(224, 224, 224);
    border-radius: 0px 0px 15px 15px;
    background-color: white;
    height: 80px;
    z-index: 1;
    width: 95%;
    margin-left: auto;
    margin-right: auto;
}

.back_text{
    color: #014A93;
    font-weight: 500;
    font-size: 18px;
    height: max-content;
    margin-top: auto;
    margin-bottom: auto;
}

.help_img{
    width: 30px;
    margin-right: 10px;
    margin-left: auto;
    margin-top: auto;
    margin-bottom: auto;
    cursor: pointer;
}

.top_grid{
    z-index: 100000000;
    background-color: #f5f6fb;
    position: fixed;
    top: -10px;
    height: 60px;
    left: 0;
    width: 100%;
    display: grid;
    margin-top: 10px;
    grid-template-columns: repeat(3, calc(100% / 3));
}

.time_text{
    margin-top: 60px;
    margin-bottom: 20px;
    color: #666b72;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}